# HwBinder IPC from client to server
binder_call(hal_aoscp_displayengine_client, hal_aoscp_displayengine_server)

add_hwservice(hal_aoscp_displayengine_server, hal_aoscp_displayengine_hwservice)
allow hal_aoscp_displayengine_client hal_aoscp_displayengine_hwservice:hwservice_manager find;

# Grant access over displayengine tuneables
allow hal_aoscp_displayengine_server sysfs_displayengine_tuneable:file rw_file_perms;
